/* import Google Font */
@import url('https://fonts.googleapis.com/css?family=Crimson+Text');

body {
  background-color: cornsilk;
  font-family: 'Crimson Text', 'Times New Roman', serif;
  font-size: 1.5em;
}

